<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>
        ENGLISH EDUCATION
    </h1>
    <pre>
        CC : coordinating conjunction - 등위 접속사(and, or, but 같은 접속사)
        CD : cardianl number - 기수
        DT : determiner - 한정사
        EX : existential there
        FW : foreign word - 외래어
        IN : preposition - 전치사 또는 종속 접속사
        JJ : adjective - 형용사
        JJR : adjective, comparative - 형용사, 비교급
        JJS : adjective, superlative - 형용사, 최상급
        LS : list item marker - ?????????????????????????????????
        MD : modal - 법조동사(가능성, 허락, 의도 등을 나타내는 can,may, will 같은 조동사)
        NN : noun, singular or mass - 단수형의 명사
        NNS : noun, plural - 복수형의 명사
        NNP : proper noun, singular - 단수형의 고유 명사
        NNPS : proper noun, plural - 복수형의 고유 명사
        PDT : predeterminer - ????????????????????????????????????
        POS : possessive ending - 소유격의
        PRP : personal pronoun - 인칭 대명사
        PRP$ : predeterminar - 소유 대명사
        RB : adverb - 부사
        RBR : adverb, comparative - 부사의 비교급
        RBS : adverb, superlative - 부사의 최상급
        SYM : symbol - 상징
        To : to
        UH : interjection - 감탄사
        VB : verb, base form - 일반 동사
        VBD : verb, past tense - 과거 동사
        VBG : verb, gerund or present participle - 동명사, 현재 분사
        VBN : verb, past participle - 과거 분사
        VBP : verb, non-3rd person singular present - 비3인칭 단수 현재형
        VBZ : verb, 3rd person singluar present - 3인칭 단수 현재형
        WDT : wh-determiner - 한정사(명사 앞에 붙는 the, some, my 등과 같은 단어)
        WP : wh-pronoun - 대명사
        WPB : wh-adverb - 부사??????
    </pre>
</body>
</html>